create:
  name: rtal_attack
  num_classes: 1000

remove:
  name: rtal_removal
  train_all_params_after_n_batches: 200
  layer_bounds: [ 51, 158, -1 ]
  layer_lrs: [0.0001, 0.0001, 0.1]
  epochs: 5

dataset:
  name: ImageNetDataLoader
  subset: attacker
  root: ~/.wrt/data
  batch_size: 32
  image_size: 224
  num_workers: 16

scheduler:
  name: MultiStepLR
  milestones: [1,2,3]
  gamma: 0.1

optimizer:
  name: SGD
  lr: 0
  weight_decay: 0.0001
  momentum: 0.9

true_labels: False
name: rtal
output_dir: outputs/imagenet/attacks/rtal/